@model List<AlunoModel>

@if (TempData["Mensagem"] != null)
 {
    <div class="alert-danger">
        @TempData["Mensagem"]
    </div>
 }

@if (TempData["Mensagem2"] != null)
 {
    <div class="alert-success col-4">
        @TempData["Mensagem2"]
    </div>
 }

@if (TempData["Mensagem3"] != null)
 {
     <div class="alert-success col-4">
         @TempData["Mensagem3"]
     </div>
 }

<div class="text-left">

    <div>
        <h1>Dados dos Alunos</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Aluno</th>
                <th scope="col">Idade</th>
                <th scope="col">Email</th>
                <th scope="col">Número</th>
                <th scope="col">CEP</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (AlunoModel aluno in Model)
                {
                    <tr>
                        <th scope="row"> @aluno.Id</th>
                        <td> @aluno.Nome</td>
                        <td> @aluno.Idade</td>
                        <td> @aluno.Contato</td>
                        <td> @aluno.Email</td>
                        <td> @aluno.Cep</td>
                        <td>
                            <div class="d-grid gap-2 d-md-block">
                                <a type="submit" class="btn btn-primary" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-id="@aluno.Id">Endereço</a>
                                <a type="submit" class="btn btn-primary" asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id">Editar</a>
                                <a type="submit" class="btn btn-danger" asp-controller="Aluno" asp-action="Excluir" asp-route-id="@aluno.Id">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="text-center">
    <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Adicionar">Adicionar novo Aluno</a>
    <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Filtros">Filtros</a>
    <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
</div>